In [2]:
# from https://raw.githubusercontent.com/mledoze/countries/master/dist/countries.csv
import pandas as pd
df = pd.read_csv('../files_original/original.geonames.countries.csv')

In [3]:
df.columns

Index(['name', 'tld', 'cca2', 'ccn3', 'cca3', 'cioc', 'independent', 'status',
       'currencies', 'idd', 'capital', 'altSpellings', 'region', 'subregion',
       'languages', 'translations', 'latlng', 'demonym', 'landlocked',
       'borders', 'area', 'flag'],
      dtype='object')

In [4]:
df.region.value_counts()

Africa       59
Americas     56
Europe       53
Asia         50
Oceania      27
Antarctic     5
Name: region, dtype: int64

In [5]:
df_filtered = df[(df.region == 'Europe') | (df.cca2.isin({'DZ', 'MA', 'TN'}))]
df_filtered.head(5)

,name,tld,cca2,ccn3,cca3,cioc,independent,status,currencies,idd,...,region,subregion,languages,translations,latlng,demonym,landlocked,borders,area,flag
4,"√Öland Islands,√Öland Islands,Landskapet √Öland,√Ö...",.ax,AX,248.0,ALA,NaN,NaN,officially-assigned,EUR,"+3,5818",...,Europe,Northern Europe,Swedish,"√Ölandsk√© ostrovy,√Ölandy,√Öland-Inseln,√Öland,Ahv...","60.116667,19.9",√Ölandish,NaN,NaN,1580.0,üá¶üáΩ
5,"Albania,Republic of Albania,Republika e Shqip√´...",.al,AL,8.0,ALB,ALB,1.0,officially-assigned,ALL,"+3,55",...,Europe,Southern Europe,Albanian,"Alb√°nsk√° republika,Alb√°nie,Gweriniaeth Albania...","41,20",Albanian,NaN,"MNE,GRC,MKD,UNK",28748.0,üá¶üá±
6,"Andorra,Principality of Andorra,Principat d'An...",.ad,AD,20.0,AND,AND,1.0,officially-assigned,EUR,"+3,76",...,Europe,Southern Europe,Catalan,"Andorrsk√© kn√≠≈æectv√≠,Andorra,Tywysogaeth Andorr...","42.5,1.5",Andorran,1.0,"FRA,ESP",468.0,üá¶üá©
15,"Austria,Republic of Austria,Republik √ñsterreic...",.at,AT,40.0,AUT,AUT,1.0,officially-assigned,EUR,"+4,3",...,Europe,Western Europe,Austro-Bavarian German,"Rakousk√° republika,Rakousko,Gweriniaeth Awstri...","47.33333333,13.33333333",Austrian,1.0,"CZE,DEU,HUN,ITA,LIE,SVK,SVN,CHE",83871.0,üá¶üáπ
18,"Belgium,Kingdom of Belgium,K√∂nigreich Belgien,...",.be,BE,56.0,BEL,BEL,1.0,officially-assigned,EUR,"+3,2",...,Europe,Western Europe,"German,French,Dutch","Belgick√© kr√°lovstv√≠,Belgie,Teyrnas Gwlad Belg,...","50.83333333,4",Belgian,NaN,"FRA,DEU,LUX,NLD",30528.0,üáßüá™

In [6]:
df_filtered['main_name'] = df.name.apply(lambda x: x.split(',')[0])

/Users/adipasquale/dev/greenferries/data/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
df_filtered['altNames'] = df.name.apply(lambda x: list(set(x.split(','))))

/Users/adipasquale/dev/greenferries/data/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df_filtered['latitude'] = df_filtered.latlng.apply(lambda x: round(float(x.split(',')[0]), 2))
df_filtered['longitude'] = df_filtered.latlng.apply(lambda x: round(float(x.split(',')[1])))

/Users/adipasquale/dev/greenferries/data/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/adipasquale/dev/greenferries/data/venv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
df_scoped = df_filtered[['cca2', 'main_name', 'latitude', 'longitude', 'altNames']]
df_scoped.sample(5)

,cca2,main_name,latitude,longitude,altNames
202,SM,San Marino,43.77,12,"[Most Serene Republic of San Marino, Serenissi..."
134,LT,Lithuania,56.00,24,"[Lietuvos Respublikos, Republic of Lithuania, ..."
82,GG,Guernsey,49.47,-3,"[Bailliage de Guernesey, Dg√®rn√©siais, Guernsey..."
28,BY,Belarus,53.00,28,"[Republic of Belarus, –ë–µ–ª–∞—Ä—ÉÃÅ—Å—å, –†–µ—Å–ø—É–±–ª–∏–∫–∞ –ë–µ..."
84,GI,Gibraltar,36.13,-5,[Gibraltar]

In [10]:
df_scoped.rename(columns={'cca2': 'code', 'main_name': 'name'}, inplace=True)
df_scoped.sample(5)

/Users/adipasquale/dev/greenferries/data/venv/lib/python3.7/site-packages/pandas/core/frame.py:4301: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,code,name,latitude,longitude,altNames
114,JE,Jersey,49.25,-2,"[Bailliage de Jersey, J√®rri, Bailiwick of Jers..."
209,SK,Slovakia,48.67,20,"[Slovak Republic, Slovensko, Slovensk√° republi..."
84,GI,Gibraltar,36.13,-5,[Gibraltar]
80,GB,United Kingdom,54.00,-2,"[United Kingdom, United Kingdom of Great Brita..."
169,NO,Norway,62.00,10,"[Kongeriket Norge, Kingdom of Norway, Norge, N..."

In [11]:
# City.pluck(:country).uniq
cities_countries = ["GR", "ES", "GB", "IT", "AL", "IE", "FR", "MA", "DK", "NO", "SE", "PL", "DE", "GG", "JE", "TN", "NL", "FI", "EE", "DZ", "HR", "AX"]

In [12]:
set(cities_countries) - set(df_scoped.code)

set()

In [14]:
df_scoped.to_json('../files_computed/countries_prepared.json', orient='records')