In [39]:
# from https://raw.githubusercontent.com/mledoze/countries/master/dist/countries.csv
import pandas as pd
df = pd.read_csv('countries.csv')

In [40]:
df.columns

Index(['name', 'tld', 'cca2', 'ccn3', 'cca3', 'cioc', 'independent', 'status',
       'currencies', 'idd', 'capital', 'altSpellings', 'region', 'subregion',
       'languages', 'translations', 'latlng', 'demonym', 'landlocked',
       'borders', 'area', 'flag'],
      dtype='object')

In [41]:
df.region.value_counts()

Africa       59
Americas     56
Europe       53
Asia         50
Oceania      27
Antarctic     5
Name: region, dtype: int64

,name,tld,cca2,ccn3,cca3,cioc,independent,status,currencies,idd,...,region,subregion,languages,translations,latlng,demonym,landlocked,borders,area,flag
65,"Algeria,People's Democratic Republic of Algeri...",".dz,ÿßŸÑÿ¨ÿ≤ÿßÿ¶ÿ±.",DZ,12.0,DZA,ALG,1.0,officially-assigned,DZD,"+2,13",...,Africa,Northern Africa,Arabic,"Al≈æ√≠rsk√° demokratick√° a lidov√° republika,Al≈æ√≠r...","28,3",Algerian,NaN,"TUN,LBY,NER,ESH,MRT,MLI,MAR",2381741.0,üá©üáø
139,"Morocco,Kingdom of Morocco,ÿßŸÑŸÖŸÖŸÑŸÉÿ© ÿßŸÑŸÖÿ∫ÿ±ÿ®Ÿäÿ©,ÿßŸÑ...",".ma,ÿßŸÑŸÖÿ∫ÿ±ÿ®.",MA,504.0,MAR,MAR,1.0,officially-assigned,MAD,"+2,12",...,Africa,Northern Africa,"Arabic,Berber","Marock√© kr√°lovstv√≠,Maroko,K√∂nigreich Marokko,M...","32,-5",Moroccan,NaN,"DZA,ESH,ESP",446550.0,üá≤üá¶
226,"Tunisia,Tunisian Republic,ÿßŸÑÿ¨ŸÖŸáŸàÿ±Ÿäÿ© ÿßŸÑÿ™ŸàŸÜÿ≥Ÿäÿ©,ÿ™ŸàŸÜÿ≥",.tn,TN,788.0,TUN,TUN,1.0,officially-assigned,TND,"+2,16",...,Africa,Northern Africa,Arabic,"Tunisk√° republika,Tunisko,Tunesische Republik,...","34,9",Tunisian,NaN,"DZA,LBY",163610.0,üáπüá≥

In [69]:
df_filtered = df[(df.region == 'Europe') | (df.cca2.isin({'DZ', 'MA', 'TN'}))]
df_filtered.head(5)

,name,tld,cca2,ccn3,cca3,cioc,independent,status,currencies,idd,...,region,subregion,languages,translations,latlng,demonym,landlocked,borders,area,flag
4,"√Öland Islands,√Öland Islands,Landskapet √Öland,√Ö...",.ax,AX,248.0,ALA,NaN,NaN,officially-assigned,EUR,"+3,5818",...,Europe,Northern Europe,Swedish,"√Ölandsk√© ostrovy,√Ölandy,√Öland-Inseln,√Öland,Ahv...","60.116667,19.9",√Ölandish,NaN,NaN,1580.0,üá¶üáΩ
5,"Albania,Republic of Albania,Republika e Shqip√´...",.al,AL,8.0,ALB,ALB,1.0,officially-assigned,ALL,"+3,55",...,Europe,Southern Europe,Albanian,"Alb√°nsk√° republika,Alb√°nie,Gweriniaeth Albania...","41,20",Albanian,NaN,"MNE,GRC,MKD,UNK",28748.0,üá¶üá±
6,"Andorra,Principality of Andorra,Principat d'An...",.ad,AD,20.0,AND,AND,1.0,officially-assigned,EUR,"+3,76",...,Europe,Southern Europe,Catalan,"Andorrsk√© kn√≠≈æectv√≠,Andorra,Tywysogaeth Andorr...","42.5,1.5",Andorran,1.0,"FRA,ESP",468.0,üá¶üá©
15,"Austria,Republic of Austria,Republik √ñsterreic...",.at,AT,40.0,AUT,AUT,1.0,officially-assigned,EUR,"+4,3",...,Europe,Western Europe,Austro-Bavarian German,"Rakousk√° republika,Rakousko,Gweriniaeth Awstri...","47.33333333,13.33333333",Austrian,1.0,"CZE,DEU,HUN,ITA,LIE,SVK,SVN,CHE",83871.0,üá¶üáπ
18,"Belgium,Kingdom of Belgium,K√∂nigreich Belgien,...",.be,BE,56.0,BEL,BEL,1.0,officially-assigned,EUR,"+3,2",...,Europe,Western Europe,"German,French,Dutch","Belgick√© kr√°lovstv√≠,Belgie,Teyrnas Gwlad Belg,...","50.83333333,4",Belgian,NaN,"FRA,DEU,LUX,NLD",30528.0,üáßüá™

In [70]:
df_filtered['main_name'] = df.name.apply(lambda x: x.split(',')[0])

/Users/adipasquale/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
df_filtered['altNames'] = df.name.apply(lambda x: list(set(x.split(','))))

/Users/adipasquale/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [72]:
df_filtered['latitude'] = df_filtered.latlng.apply(lambda x: round(float(x.split(',')[0]), 2))
df_filtered['longitude'] = df_filtered.latlng.apply(lambda x: round(float(x.split(',')[1])))

/Users/adipasquale/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/adipasquale/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [73]:
df_scoped = df_filtered[['cca2', 'main_name', 'latitude', 'longitude', 'altNames']]
df_scoped.sample(5)

,cca2,main_name,latitude,longitude,altNames
131,LI,Liechtenstein,47.27,10,"[Principality of Liechtenstein, F√ºrstentum Lie..."
205,RS,Serbia,44.00,21,"[Serbia, –†–µ–ø—É–±–ª–∏–∫–∞ –°—Ä–±–∏—ò–∞, Republic of Serbia,..."
232,UA,Ukraine,49.00,32,"[–£–∫—Ä–∞—ó–Ω–∞, Ukraine]"
82,GG,Guernsey,49.47,-3,"[Bailiwick of Guernsey, Bailliage de Guernesey..."
28,BY,Belarus,53.00,28,"[–†—ç—Å–ø—É–±–ª—ñ–∫–∞ –ë–µ–ª–∞—Ä—É—Å—å, –ë–µ–ª–∞—Ä—ÉÃÅ—Å—å, Republic of B..."

In [74]:
df_scoped.rename(columns={'cca2': 'code', 'main_name': 'name'}, inplace=True)
df_scoped.sample(5)

,code,name,latitude,longitude,altNames
84,GI,Gibraltar,36.13,-5,[Gibraltar]
22,BG,Bulgaria,43.00,25,"[–†–µ–ø—É–±–ª–∏–∫–∞ –ë—ä–ª–≥–∞—Ä–∏—è, Republic of Bulgaria, Bul..."
184,PT,Portugal,39.50,-8,"[Portugal, Rep√∫blica portugu√™s, Portuguese Rep..."
198,SJ,Svalbard and Jan Mayen,78.00,20,"[Svalbard og Jan Mayen, Svalbard and Jan Mayen]"
15,AT,Austria,47.33,13,"[Republic of Austria, Republik √ñsterreich, √ñst..."

In [75]:
# City.pluck(:country).uniq
cities_countries = ["GR", "ES", "GB", "IT", "AL", "IE", "FR", "MA", "DK", "NO", "SE", "PL", "DE", "GG", "JE", "TN", "NL", "FI", "EE", "DZ", "HR", "AX"]

In [76]:
set(cities_countries) - set(df_scoped.code)

set()

In [79]:
df_scoped.to_json('countries.prepared.json', orient='records')